/*
Copyright 2017 DesignJuice
Author : Stuart <svkem2@users.noreply.github.com> 
*/
/* 
    Created on : 30 May 2017, 11:45:48 PM
    Author     : Stuart <svkem2@users.noreply.github.com>
*/

/* CUSTOM STYLES */



html, body {
    margin: 0;
    height: 100%;
}


/* BACKGROUND */

body{
    background-image: url("#{resource['img/working/mm-footer.png']}");
    background-repeat: no-repeat;
    background-position: center bottom;
}
