/*
Copyright 2017 DesignJuice
Author : Stuart <svkem2@users.noreply.github.com> 
*/
/* 
    Created on : 30 May 2017, 11:45:48 PM
    Author     : Stuart <svkem2@users.noreply.github.com>
*/

/* CUSTOM STYLES */

/* BACKGROUND */
.bkImg{
    position: relative;
    display: inline-block;
    margin: 0 auto;
}
